@model NOTASDEESTUDIANTE.Models.NotasEstudiante

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NotasEstudiante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carnet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carnet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaIip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaIip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaSist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaSist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaProy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaProy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaFinal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdnotasEstudiantes">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
